/* app css stylesheet */

html, body {
	height:100%;
}
.skrollr-desktop body {
	height:100% !important;
}

.cover{
    color: rgb(255, 255, 255);
    height: 100%;
    background: url("../images/backgroundImage1.jpg") no-repeat  0px -200px;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
nav ul li {
  list-style:none;
  float:left;
  margin-right:50px;

}

.cover-text {

}

.vcenter {
    vertical-align: middle;
    float: none;
}